@import '../../variables.scss';

.casusOverview {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  .casusList {
    flex: 1;
    background: $brand;
    padding: 1rem;
    .casusEntry {
      width: 100%;
      padding: 1rem 0;
      h3 {
        font-size: 1rem;
        margin: 0;
        color: #ffffff;
      }
    }
  }
  .casusControls {
    background-color: rgba($brand, $opacity);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 2rem;
    > div {
      margin-bottom: .5rem;
      text-align: center;
      &:last-of-type {
        margin-bottom: 0px;
      }
      button {
        background-color: $brand;
        color: #ffffff;
        width: 80%;
        padding: .5rem 1rem;
        font-size: 1rem;
      }
    }
  }
}