@import '../../variables.scss';

.casus {
  min-height: 100vh;
  background-color: rgba($brand, $opacityMore);
  padding-bottom: 4rem;
  .footerButton {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: $brand;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    font-size: .9rem;
  }

  header {
    padding: 1rem 0;
    .col {
      position: relative;
      .goBack {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      h1 {
        text-align: center;
        font-size: 1rem;
      }
    }
  }
}