@import "variables";
@import "base/mixins";
@import "base/breakpoints";
@import "base/framework";
@import "base/styling";

button {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: $brand;
}

.flexLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}