@import "../../variables";

header.basic {
  background-color: $brand;
  min-height: 25vh;
  display: flex;
  align-items: flex-end;
  .container {
    display: block;
    height: 100%;
  }
  h1, h2, h3, h4, h5, h6 {
    color: #fff;
    text-align: center;
  }
}