@import "../../variables";

header.info {
  .top {
    min-height: 30vh;
    background-color: rgba($brand, $opacity);
    display: flex;
    align-items: flex-end;
    .container {
      padding-bottom: 1rem;
    }
  }
  .bottom {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba($brand, $opacityMore);

    button {
      font-size: .8rem;
    }
  }
  h1 {
    font-size: 1.25rem;
    color: $brand;
    margin: 0;
  }
  .subtitle {
    font-size: .8rem;
    color: $brand;
  }
}