@import "../../variables";

.button {
  margin-top: 1rem;
  &.loginStyle {
    button {
      margin-top: .25rem;
      padding: 1rem;
      background-color: $brand;
      border-radius: 1000px;
      border: 2px solid $brand;
      color: #fff;
      font-weight: bold;
      width: 100%;
    }
  }
  button {
    margin-top: .25rem;
    padding: 1rem;
    background-color: $brand;
    color: #fff;
    font-weight: bold;
    width: 100%;
    font-size: 1rem;
  }
}