@import "../../variables";

.input {
  margin-top: 1rem;
  &.loginStyle {
    label {
      display: flex;
      flex-direction: column;
      input {
        margin-top: .25rem;
        padding: 1rem;
        border: 2px solid rgba($brand, .5);
        background-color: #fff;
        border-radius: 1000px;
      }
    }
  }
  label {
    display: flex;
    flex-direction: column;
    input, textarea {
      margin-top: .25rem;
      padding: 1rem;
      border: 2px solid rgba($brand, .5);
      background-color: #fff;
    }
  }
}