// Styling goes here.
* {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-size: $basefontsize;
  background-color: $background;
}
body {
  padding: 0;
  margin: 0;
  font-family: $regular;
  -webkit-font-smoothing: antialiased;
  color: $text;
  min-height: 100vh;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
  @include media-breakpoint-up(sm) {
    width: 540px;
  }
  @include media-breakpoint-up(md) {
    width: 720px;
  }
  @include media-breakpoint-up(lg) {
    padding: 0 10px;
    width: 960px;
  }
  @include media-breakpoint-up(xl) {
    width: 1150px;
  }
  @include media-breakpoint-up(xxl) {
    width: 1350px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  &.row--reverse {
    flex-direction: row-reverse;
  }
  &.row--center {
    justify-content: center;
  }
  &.row--nopadding {
    margin-left: 0;
    margin-right: 0;
    .col {
      padding: 0;
    }
  }
}

.col {
  flex: 0 0 auto;
  padding: 0 10px;
  display: block;
  flex-wrap: wrap;
  position: relative;

  &.col--flex {
    display: flex;
  }

  $max: 6;
  @for $i from 1 through $max {
    &.col--#{$i} {
      flex: 0 0 100% - ((100 / $max) * abs($i - $max));
      max-width: 100% - ((100 / $max) * abs($i - $max));
    }
  }

  &.col--align-right {
    justify-content: flex-end;
  }

  &.col--align-bottom {
    align-items: flex-end;
  }

  &.col--align-center {
    align-items: center;
  }

  &.col--padded {
    padding: 0 4rem;
    @include media-breakpoint-down(lg) {
      padding: 0 1.5rem;
    }
  }

  &.col--flex-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.push {
  max-width: 100%;
  &.push--down {
    margin-top: auto;
  }
  &.push--center {
    margin-top: auto;
    margin-bottom: auto;
  }
}