a {
  text-decoration: none;
}

.generalButton {
  width: 100%;
  padding: 1rem 0;
  text-decoration: none;
  span {
    font-weight: 600;
    color: $brand;
    display: flex;
    .tip {
      margin-left: auto;
      margin-right: 0;
      font-weight: 400;
    }
  }
}